<link rel="import" href="bower_components/campus-core/campus-core-class.html">
<link rel="import" href="bower_components/campus-core/campus-core-course.html">
<link rel="import" href="bower_components/campus-core/campus-core-school.html">
<link rel="import" href="bower_components/campus-core/campus-core-student.html">
<link rel="import" href="bower_components/campus-core/campus-core-teacher.html">
<script>
    window.Campus.AdminComponents = [{
        template: 'components/bower_components/campus-core/campus-core-school.html',
        routeUrl: '/campus-core-school',
        nodeName: 'campus-core-school',
        iconFont: 'social:school',
        label: '學校',
        title: {
            'zh-tw': '學校',
            'zh-cn': '学校',
            'en-us': 'School',
            'vi-vn': 'Trường'
        },
        type: 'component'
    }, {
        template: 'components/bower_components/campus-core/campus-core-class.html',
        routeUrl: '/campus-core-class',
        nodeName: 'campus-core-class',
        iconFont: 'social:people',
        label: '班級',
        title: {
            'zh-tw': '班級',
            'zh-cn': '班级',
            'en-us': 'Class',
            'vi-vn': 'Lớp'
        },
        type: 'component'
    }, {
        template: 'components/bower_components/campus-core/campus-core-course.html',
        routeUrl: '/campus-core-course',
        nodeName: 'campus-core-course',
        iconFont: 'icons:event',
        label: '課程',
        title: {
            'zh-tw': '課程',
            'zh-cn': '课程',
            'en-us': 'Course',
            'vi-vn': 'Khóa học'
        },
        type: 'component'
    }, {
        template: 'components/bower_components/campus-core/campus-core-teacher.html',
        routeUrl: '/campus-core-teacher',
        nodeName: 'campus-core-teacher',
        iconFont: 'maps:local-library',
        label: '教師',
        title: {
            'zh-tw': '教師',
            'zh-cn': '教师',
            'en-us': 'Teacher',
            'vi-vn': 'Giáo viên'
        },
        type: 'component'
    }, {
        template: 'components/bower_components/campus-core/campus-core-student.html',
        routeUrl: '/campus-core-student',
        nodeName: 'campus-core-student',
        iconFont: 'icons:perm-contact-calendar',
        label: '學生',
        title: {
            'zh-tw': '學生',
            'zh-cn': '学生',
            'en-us': 'Student',
            'vi-vn': 'Học sinh'
        },
        type: 'component'
    }]
</script>
