<link rel="import" href="bower_components/campus-score/campus-score-for-student.html">
<link rel="import" href="bower_components/campus-homework/campus-homework-for-student.html">
<link rel="import" href="bower_components/campus-course-selection/campus-course-selection.html">
<link rel="import" href="bower_components/campus-leave/campus-leave-for-student.html">
<script>
    window.Campus.StudentComponents = [{
        template: 'components/bower_components/campus-score/campus-score-for-student.html',
        routeUrl: 'campus-score-for-student',
        nodeName: 'campus-score-for-student',
        iconFont: 'icons:assignment',
        label: '作業追縱',
        title: {
            'zh-tw': '評量',
            'zh-cn': '评量',
            'en-us': 'Assessment'
        },
        type: 'component'
    }, {
        template: 'components/bower_components/campus-homework/campus-homework-for-student.html',
        routeUrl: 'campus-homework-for-student',
        nodeName: 'campus-homework-for-student',
        iconFont: 'icons:assignment',
        label: '作業追縱',
        title: {
            'zh-tw': '作業追縱',
            'zh-cn': '作业追踪',
            'en-us': 'Homework'
        },
        type: 'component'
    }, {
        template: 'components/bower_components/campus-course-selection/campus-course-selection.html',
        routeUrl: 'campus-course-selection',
        nodeName: 'campus-course-selection',
        iconFont: 'icons:stars',
        label: '線上選課',
        title: {
            'zh-tw': '線上選課',
            'zh-cn': '线上选课',
            'en-us': 'Choose a course'
        },
        type: 'component'
    }, {
        template: 'components/bower_components/campus-leave/campus-leave-for-student.html',
        routeUrl: 'campus-leave-for-student',
        nodeName: 'campus-leave-for-student',
        iconFont: 'icons:extension',
        label: '線上請假',
        title: {
            'zh-tw': '線上請假',
            'zh-cn': '线上请假',
            'en-us': 'Take a leave'
        },
        type: 'component'
    }]
</script>
