<link rel="import" href="bower_components/campus-score/campus-score-for-teacher.html">
<link rel="import" href="bower_components/campus-homework/campus-homework-for-teacher.html">
<link rel="import" href="bower_components/campus-csp/campus-course-student-performance.html">
<link rel="import" href="bower_components/campus-rollcall/campus-rollcall.html">
<link rel="import" href="bower_components/campus-leave/campus-leave-for-teacher.html">
<link rel="import" href="bower_components/campus-leave/campus-leave-for-statutory-reasons.html">
<script>
    window.Campus.TeacherComponents = [{
        template: 'components/bower_components/campus-score/campus-score-for-teacher.html',
        routeUrl: 'campus-score-for-teacher',
        nodeName: 'campus-score-for-teacher',
        iconFont: 'icons:assignment',
        label: '作業追縱',
        title: {
            'zh-tw': '評量',
            'zh-cn': '评量',
            'en-us': 'Assessment'
        },
        type: 'component'
    }, {
        template: 'components/bower_components/campus-homework/campus-homework-for-teacher.html',
        routeUrl: 'campus-homework-for-teacher',
        nodeName: 'campus-homework-for-teacher',
        iconFont: 'icons:assignment',
        label: '作業追縱',
        title: {
            'zh-tw': '作業追縱',
            'zh-cn': '作业追踪',
            'en-us': 'Homework'
        },
        type: 'component'
    }, {
        template: 'components/bower_components/campus-csp/campus-course-student-performance.html',
        routeUrl: 'campus-course-student-performance',
        nodeName: 'campus-course-student-performance',
        iconFont: 'icons:thumbs-up-down',
        label: '課堂表現',
        title: {
            'zh-tw': '課堂表現',
            'zh-cn': '课堂表现',
            'en-us': 'Student Performance'
        },
        type: 'component'
    }, {
        template: 'components/bower_components/campus-rollcall/campus-rollcall.html',
        routeUrl: 'campus-rollcall',
        nodeName: 'campus-rollcall',
        iconFont: 'av:playlist-add-check',
        label: '課堂點名',
        title: {
            'zh-tw': '課堂點名',
            'zh-cn': '课堂点名',
            'en-us': 'Roll Call'
        },
        type: 'component'
    }, {
        template: 'components/bower_components/campus-leave/campus-leave-for-teacher.html',
        routeUrl: 'campus-leave-for-teacher',
        nodeName: 'campus-leave-for-teacher',
        iconFont: 'icons:extension',
        label: '學生請假',
        title: {
            'zh-tw': '學生請假',
            'zh-cn': '学生请假',
            'en-us': 'Take a leave'
        },
        type: 'component'
    }, {
        template: 'components/bower_components/campus-leave/campus-leave-for-statutory-reasons.html',
        routeUrl: 'campus-leave-for-statutory-reasons',
        nodeName: 'campus-leave-for-statutory-reasons',
        iconFont: 'icons:extension',
        label: '公假填報',
        title: {
            'zh-tw': '公假填報',
            'zh-cn': '公假填报',
            'en-us': 'Leave for Statutory Reasons'
        },
        type: 'component'
    }]
</script>
