doctype html
html(lang="en")
    head
        title 1Campus

        meta(charset="UTF-8")

        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(http-equiv="cleartype", content="on")

        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        meta(name="mobile-web-app-capable", content="yes")
        meta(name="mobile-web-app-status-bar-style", content="black")

        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")

        link(rel="touch-icon-precomposed", href=rootPath+"/dist/icon.png")
        link(rel="touch-icon-precomposed", href=rootPath+"/dist/icon-72.png", sizes="72x72")
        link(rel="touch-icon-precomposed", href=rootPath+"/dist/icon-114.png", sizes="114x114")
        link(rel="touch-icon-precomposed", href=rootPath+"/dist/icon-144.png", sizes="144x144")

        link(rel="apple-touch-icon-precomposed", href=rootPath+"/dist/icon.png")
        link(rel="apple-touch-icon-precomposed", href=rootPath+"/dist/icon-72.png", sizes="72x72")
        link(rel="apple-touch-icon-precomposed", href=rootPath+"/dist/icon-114.png", sizes="114x114")
        link(rel="apple-touch-icon-precomposed", href=rootPath+"/dist/icon-144.png", sizes="144x144")

        script(src=rootPath+"/components/bower_components/webcomponentsjs/webcomponents-lite.min.js")

        script.
            window.Polymer = {
                dom: 'shady',
                lazyRegister: true
            };

            window.Campus = {
                baseUrl: '!{baseUrl}',
                authServer: '!{authServer}',
                logoutUrl: '!{logoutUrl}',
                loadGadget: !{loadGadget},
                coreOnly: !{coreOnly},
                languageOnly: !{languageOnly},
                rootPath: '!{rootPath}',
                its5Sync: JSON.parse('!{its5Sync}')
            };

        style.
            body {
                font-family: Roboto, Noto, STXihei, sans-serif;
                height: 100%;
                padding: 0;
                margin: 0;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                background: #f1f1f1;
            }
            campus-app {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

        link(rel="import", href=rootPath+"/app.html")
    body
        campus-app
